__pycache__/
.vscode/
.vs/
.idea/
.DS_Store
*/DS_Store
*/.DS_Store
*/.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*/.pytest_cache/
*/.pytest_cache/*
*/.mypy_cache/
*/.mypy_cache/*
*/.venv/
*/.venv/*
*/.env/
*/.env/*
*/.git/
*/.git/*
*/.gitignore
.gradio
venv1