fastapi
uvicorn[standard]
transformers==4.40.1
torch

pydantic
pydantic-settings
langchain
langchain-google-genai
pydantic
langchain-community
prometheus-client      # for monitoring purpose
gradio
requests
